{% extends 'base.html'%}


{% block title %} Home {% endblock%}

{% block body %}

<section class="header">
        <nav>
            <div class="nav-links">
                <ul>
                    <li><a href="/add">Add Employee</a><br><br></li>
                    <li><a href ="/view">List Records</a><br><br></li>
                    <li><a href="/delete">Delete Record</a><br><br></li>
                </ul>
            </div>
        </nav>
      <div class="text-box">
        <h1> Python CRUD Web Application  Flask</h1>
        </div>
</section>
{% endblock %}